body{
    background-color: rgb(25,26,33);
    font-family: 'XMTrafficRegular';
    color: white;
}

/*scrollbarr*/

body::-webkit-scrollbar {
    width: 20px;
  }
  
body::-webkit-scrollbar-track {
    background: none;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #43444A;
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #525356;
}

/* corpo do site flexbox */

.flexboxinforight{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

.flexboxinfo{
    display: flex;
    flex-direction: column;
    width: 80%;

}

/*layout containers*/

.topboxcontainer{
    background-color: rgb(40,42,54);
    margin-top: 1%;

    width: 98%;
    height: 250px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.rightboxcontainer{
    background-color: rgb(40,42,54);
    width: 20%;
    position: relative;
    padding-bottom: 3%;
    padding-top: 3%;
}

.infoboxcontainer{
    background-color:rgb(40,42,54);
    height: 60%;


}

.nicho{
    background-color: rgb(40,42,54);
    height: 100%;
    margin-top: 1%;
}

/*conteudos*/

.topboxcontent{
    text-align: center;
    padding-top: 100px;
}

.rightboxcontent{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.infoboxcontent{
    text-align: center;
    padding-top: 3%;
    font-size: 20px;
    padding-bottom: 3%;
}

.nichocontent{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.infoboxcontent h1{
    text-align: left;
    padding-left: 5%;
}

.nichocontent h1{
    text-align: left;
    padding-left: 5%;
}



/*config conteudos*/

.infoboxcontent p{
    padding-top: 2%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.rightboxcontent a{
    color: white;
    
}

.nichocontent div{
    justify-content: center;
}

/* hovers*/

.rightboxcontent a:hover{
    color: #b35791;
    cursor: pointer;
    text-decoration: none;
}

/*titiulos*/

h2{
    font-size: 50px;
    font-weight: bold;

}

h1{
    font-size: 20px;
    font-weight: bold;


}

h3{
    font-size: 20px;


}

/*imagens right box*/

.foto{
    width: 65%;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.linkedinimg{
    width: 35px;
    padding-right: 5px;
}

.githubimg{
    width: 45px;
}

.instagramimg{
    width: 40px;
    padding-right: 5px;

}

.mailimg{
    width: 40px;
    padding-right: 5px;
}

.linkedinimg:hover, .githubimg:hover, .instagramimg:hover, .mailimg:hover{
    cursor: pointer;
}



.contatosflexboximg{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 10%;

}

.contatos{
    display: flex;
    align-items: center;
}


/* logos do nicho */

.conhecimentos{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    gap: 5%;
    align-items: start;

}


.linguagens, .marcacao, .bancos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


/* edit itens */

.html,.css,.js,.py{
    width: 50px;
    height: 50px;

    padding: 15px 15px 15px 15px;
    border: 2px solid rgb(25,26,33);

}
.php{
    width: 70px;
    height: 35px;
    padding: 20px 15px 20px 15px;
    border: 2px solid rgb(25,26,33);


}

.html:hover, .css:hover, .js:hover, .py:hover{
    cursor: pointer;

    background-color: rgb(25,26,33);


}
.php:hover{
    cursor: pointer;

    background-color: rgb(25,26,33);
}

/* rodapé */

.rodapeinfo {
    text-align: center;
    padding-top: 2px;
    margin-bottom: 15px;
}

.rodapeinfo a{
    color: #b35791;
}

.rodapeinfo a:hover{
    text-decoration: none;
}

