
/* RESPONSIVO */


@media only screen and (max-width: 450px) {

    .logos{
        display: flex;
        flex-direction: column;

    }

    .modoclarorightbox, .rightboxcontainer{

        width: 40%;
        position: relative;
        padding-bottom: 3%;
        padding-top: 3%;
    }

    .rightboxcontent{
        font-size: 16px;
    }

    .contatosflexboxlinks{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 59px;
        margin-top: 16px;
        margin-left: 10px;
    }

    .contatosflexboxmaster{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .infoboxcontent {
        margin-bottom: 20px;
        overflow-y: auto;
        height: 250px;
        padding-left: 10px;
        padding-right: 10px;

    }
    
    .nichocontent{
        overflow-y: auto;
        height: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .foto{
        width: 85%;
        margin-bottom: 25px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
    }


.nichocontent p{
    margin-top: 20px;
}

.logos{
    gap: 8px;
}



}