body{
    background-color: rgb(25,26,33);
    font-family: 'Rubik', sans-serif;
    color: white;
}

/*scrollbarr*/

body::-webkit-scrollbar {
    width: 20px;
  }
  
body::-webkit-scrollbar-track {
    background: none;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #43444A;
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #525356;
}

/* corpo do site flexbox */

.flexboxinforight{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

.flexboxinfo{
    display: flex;
    flex-direction: column;
    width: 80%;

}

/*layout containers*/

.topboxcontainer{
    background-color: rgb(40,42,54);
    margin-top: 1%;

    width: 98%;
    height: 250px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.rightboxcontainer{
    background-color: rgb(40,42,54);
    width: 20%;
    position: relative;
    padding-bottom: 3%;
    padding-top: 3%;
}

.infoboxcontainer{
    background-color:rgb(40,42,54);
    height: 100%;


}

.nicho{
    background-color: rgb(40,42,54);
    height: 100%;
    margin-top: 1%;


}

/*conteudos*/

.topboxcontent{
    text-align: center;
    padding-top: 100px;
}

.rightboxcontent{
    text-align: center;
}

.infoboxcontent{
    text-align: center;
    padding-top: 5%;

    font-size: 20px;
}

.nichocontent{
    text-align: center;
    padding-top: 3%;
    position: relative;
    padding-bottom: 3%;
}

/*config conteudos*/

.infoboxcontent p{
    padding-top: 20px;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.rightboxcontent a{
    color: white;
    text-decoration: none;
}

.nichocontent div{
    justify-content: center;
}

.nichocontent p{
    margin-top: 2%;;
}

/* hovers*/

.rightboxcontent a:hover{
    color: #F179C6;
    cursor: pointer;
}

/*titiulos*/

h2{
    font-size: 45px;

}

h1{
    font-size: 25px;

}

/*imagens right box*/

.foto{
    width: 65%;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.linkedinimg{
    width: 35px;
}

.githubimg{
    width: 45px;
}

.instagramimg{
    width: 40px;
}

.mailimg{
    width: 40px;
}

.linkedinimg:hover, .githubimg:hover, .instagramimg:hover, .mailimg:hover{
    cursor: pointer;
}


.contatosflexboxmaster{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.contatosflexboximg{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.contatosflexboxlinks{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 59px;
    margin-top: 16px;
    margin-left: 10px;
}


/* logos do nicho */

.logos{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    gap: 35px;
    align-items: center;
}

.html,.css,.js,.py{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(40,42,54);
}
.php{
    width: 80px;
    height: 40px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background-color: rgb(40,42,54);
}

.html:hover, .css:hover, .js:hover, .py:hover{
    cursor: pointer;
    transition: 700ms;
    background-color: rgb(25,26,33);
}
.php:hover{
    cursor: pointer;
    transition: 700ms;
    background-color: rgb(25,26,33);
}

/* botoes tema */

#btntema{
    width: 35px;
    height: 35px;
}

#btntemasol{
    width: 42px;
    height: 42px;
}

.temas{
    position: relative;
    bottom: 125px;
    right: 20px;
    text-align: end;
}

/* hovers */

#btntema:hover{
    cursor: pointer;
    width: 38px;
    height: 38px;
    transition: 150ms;
}

#btntemasol:hover{
    cursor: pointer;
    width: 45px;
    height: 45px;
    transition: 150ms;
}

/* modo claro */

.modoclaroback{
    background: rgb(167, 164, 164);
    color: black;
}

.modoclarotopbox{
    background-color: white;
    margin-top: 1%;

    width: 98%;
    height: 250px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.modoclarorightbox{
    background-color: white;
    width: 20%;
    position: relative;
    padding-bottom: 3%;
    padding-top: 3%;
}

.modoclarorightbox a{
    color: black;
}

.modoclaroinfobox{
    background-color:white;
    height: 100%;

}

.modoclaronicho{
    background-color: white;
    height: 100%;
    margin-top: 1%;
}

/* modo claro logos */

.html-claro,.css-claro,.js-claro,.py-claro{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-color: white;
}
.php-claro{
    width: 80px;
    height: 40px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background-color: white;
}

.html-claro:hover, .css-claro:hover, .js-claro:hover, .py-claro:hover{
    cursor: pointer;
    transition: 700ms;
    background-color: rgb(167, 164, 164);
}

.php-claro:hover{
    cursor: pointer;
    transition: 700ms;
    background-color: rgb(167, 164, 164);
}


/* rodapé */

.rodapeinfo {
    text-align: center;
    padding-top: 2px;
    margin-bottom: 10px;
}

.rodapeinfo a{
    text-decoration: none;
    color: #b35791;
}

.rodapeinfo a:hover{
    text-decoration: underline;
}





/* RESPONSIVO */


@media only screen and (max-width: 450px) {


    .logos{
        display: flex;
        flex-direction: column;

    }

    .modoclarorightbox, .rightboxcontainer{

        width: 40%;
        position: relative;
        padding-bottom: 3%;
        padding-top: 3%;
    }


    .rightboxcontent{
        font-size: 16px;
    }

    .contatosflexboxlinks{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 59px;
        margin-top: 16px;
        margin-left: 10px;
    }

    .contatosflexboxmaster{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .infoboxcontent {
        margin-bottom: 20px;
        overflow-y: auto;
        height: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .nichocontent{
        overflow-y: auto;
        height: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .foto{
        width: 85%;
        margin-bottom: 25px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
    }
}